<section class="container">
  <div class="py-2 my-3">
    <mat-card>
      <mat-card-content>
        <button [routerLink]="['/home']" routerLinkActive="router-link-active"
          class="d-flex justify-content-center align-items-center m-0  " mat-button color="primary">
          <mat-icon>home</mat-icon>
          <p class="m-0">
            Go To Home
          </p>
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card>
    <mat-card-content>
      <form class="row g-3" [formGroup]="myForm" >
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [value]="oldData.name" formControlName="name" required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>position</mat-label>
            <input matInput [value]="oldData.position" formControlName="position" required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>department</mat-label>
            <input matInput [value]="oldData.department" formControlName="department" required>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>salary</mat-label>
            <input matInput [value]="oldData.salary" formControlName="salary" required>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <button *ngIf="!id" (click)="onSubmitCreate()" mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Submit</button>
          <button *ngIf="id" (click)="OnSubmitUpdate(id)" mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Update</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


</section>